.split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
}

.home {
    left: 0;
}

.away {
    right: 0;
}

.waitingInstructions{
    font-family: 'Arcade Classic';
    font-size: 20px;
    text-align: center;
}

.newRound{
    height: 100%;
    width: 100%;
    position: fixed;
    font-size: xx-large;
    background-color: red;
}

button {
    width: 100%;
    height: 100%;
    background-color: transparent;
    display: block;
    font-size: xx-large;
}
