<div class="background-primary">
  <p class="title" *ngIf="round == undefined">{{username}}</p>
  <p class="title" *ngIf="round != undefined">{{round}}</p>
</div>
<div class="split" *ngIf="home != null && away != null">
  <div class="splitContianer">
    <div [@voteFlyIn]="newVote ? 'in' : 'out'" (@voteFlyIn.done)="onAnimationEvent($event)" class="left"
      [style.background-color]="home?.colour">
      <button mat-button class="votingButton" (click)="castVote(0)">{{home?.name}}</button>
    </div>
    <div [@voteFlyIn]="newVote ? 'in' : 'out'" class="right" [style.background-color]="away?.colour">
      <button mat-button class="votingButton" (click)="castVote(1)">{{away?.name}}</button>
    </div>
  </div>
</div>

<div class="votes" *ngIf="home != null && away != null">

</div>

<div *ngIf="newVote == false">
  <p class="waitingInstructions">Waiting for other player's votes...</p>
</div>

<div *ngIf="home == null && away == null">
  <p class="waitingInstructions">Waiting for game to start</p>
</div>
