.listTitle{
    font-family: 'Karmatic Arcade';
    font-size: calc((.4em + 2vmin) + (.4em + 2vmax));
    text-align: center;
    margin-bottom: 0px;
}

.roomNumber{
    font-family: 'Arcade Classic';
    font-weight: bold;
    font-size: calc((.4em + 1vmin) + (.4em + 1vmax));
    text-align: center;
}

.categoryInstructions{
    font-family: 'Arcade Classic';
    font-size: calc((.4em + 1vmin) + (.4em + 1vmax));
    text-align: center;
    padding: 0px 10px;
}

.cardContainer {
    display: flex;
    flex-wrap: wrap;
    flex:1;
    overflow: auto;
    padding: 10px;
    min-height: 0;
    text-align: center
 }

 .card{
    color: #1f363d;
    background-color: white;
    margin: 10px;
    padding: 10px;
    font-size: calc((.4em + 1vmin) + (.4em + 1vmax));
    font-family: 'arcade classic';
}

.rowContainer {
    display: flex; 
    flex-direction: row;
    height: 100%;
}

.columnContainer {
    display: flex; 
    flex-direction: column;
    height: 100%;
}

.columns {
    display: flex;
    flex-direction: row;
    flex: 1;
}

.column {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.teamTitle{
    font-family: 'Arcade Classic';
    font-size: calc((.4em + 2vmin) + (.4em + 2vmax));
    text-align: center;
    margin-top: calc((.4em + 1vmin) + (.4em + 1vmax));
}

.standing {
    display: inline;
}

.resultsButton{
    text-align:center;
    font-family: 'Karmatic Arcade';
    font-size: calc((.4em + 2vmin) + (.4em + 2vmax));
    margin: 0;
    padding-top: 5vw;
    padding-bottom: 4vw;
}