<div class="background-primary">
    <p class="title">WORLD CUP OF EVERYTHING</p>
</div>

<div class="playerEntry background-secondary">
    <form class="playerForm">
        <mat-form-field class="playerEntry">
            <input matInput placeholder="Enter your name" [(ngModel)]="username" [ngModelOptions]="{standalone: true}">
        </mat-form-field>
        <mat-form-field class="playerEntry">
            <input matInput placeholder="Enter your game number" [(ngModel)]="roomNumber" [ngModelOptions]="{standalone: true}">
        </mat-form-field>
        <button mat-fab color="primary" [routerLink]="['/client', username]">
            <mat-icon>arrow_forward</mat-icon>
        </button>
    </form>
    <div class="serverForm">
        <button mat-button routerLink="/server">click here to start a server</button>
    </div>
</div>