<p class="title background-primary">WORLD CUP OF EVERYTHING</p>

<div class="playerForm background-secondary">
    <mat-form-field class="playerEntry">
        <input matInput placeholder="YOUR NAME" [(ngModel)]="username" [ngModelOptions]="{standalone: true}">
    </mat-form-field>
    <mat-form-field class="playerEntry">
        <input matInput placeholder="GAME NUMBER" [(ngModel)]="roomNumber" [ngModelOptions]="{standalone: true}">
    </mat-form-field>
    <button mat-flat-button color="primary" class="playButton" (click)="joinRoom()">PLAY</button>
    <div class="errorMessages">{{errorMessage}}</div>
    <button mat-button routerLink="/server" class="serverButton">CLICK HERE TO START A SERVER</button>
</div>