@import '../../styles.scss';

.playerEntry {
    margin: 0;
    height: 100%;
}

.playerForm{
    text-align:center;
    color:#FFFFFF;
    margin: 0;
    padding-top: 40px;
}

.serverForm{
    text-align:center;
    color:#1F363D;
    position: fixed;
    left: 50%;
    bottom: 20px;
    transform: translate(-50%, -50%);
    margin: 0 auto;
}

::ng-deep .mat-focused .mat-form-field-label {
    /*change color of label*/
    color: white !important;
}

::ng-deep.mat-form-field-underline {
    /*change color of underline*/
    background-color: white !important;
} 

::ng-deep.mat-form-field-ripple {
    /*change color of underline when focused*/
    background-color: white !important;;
}