.container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.playButton{
    display: block;
    width: 70%;
    padding: 20px;
    margin: auto;
    font-family: 'Karmatic Arcade';
    font-size: calc((.4em + 1vmin) + (.4em + 1vmax));
}

.playerEntry {
    width: 80%;
    font-family: 'Arcade Classic';
    font-size: calc((.4em + 1vmin) + (.4em + 1vmax));
}

.playerForm{
    text-align:center;
    padding-top: 30px;
    flex: 1;
}

.serverButton{
    margin-top: 30px;
    font-family: 'Arcade Classic';
    font-size: calc((.4em + 0.5vmin) + (.4em + 0.5vmax));
}

.errorMessages{
    margin: 30px 20px;
    font-family: 'Arcade Classic';
    font-size: calc((.4em + 1vmin) + (.4em + 1vmax));
}

::ng-deep.mat-form-field-label {
    /*change color of label*/
    color: black !important;
    font-family: 'Arcade Classic' !important;
}

::ng-deep.mat-form-field-underline {
    /*change color of underline*/
    font-family: 'Arcade Classic' !important;
    background-color: black !important;
} 

::ng-deep.mat-form-field-ripple {
    /*change color of underline when focused*/
    font-family: 'Arcade Classic' !important;
    background-color: black !important;
}